.maintenance-box {
  flex: 1 0 100%;
  display: block;

  .maintenance-image {
    display: block;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 350px;
    margin-bottom: 20px;
  }

  .maintenance-text {
    display: block;
    h1, p {
      text-align: center;
    }
  }

}